app-virtual-table-card {
  width: 100%;
  margin: 7px 0;
}

.trash-button {
  width: 15vw;
  font-size: 30px;
}

.card-item {
  border-radius: 6px;
}

.danger-item-option {
  border-radius: 6px !important;
}
