.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

app-virtual-table-card {
  width: 100%;
  margin: 7px 0;
}

.x-container {
  width: 100%;
  background-color: green;
  overflow: hidden;
  white-space: nowrap;
  ::-webkit-scrollbar {
    display: none;
  }
  .x-scroll {
    overflow: auto;
    display: inline-block;

    width: auto;
    height: 15vh;
    background: chocolate;

    .x-item {
      display: inline-block;
    }
  }
}
