.virtual-table-photo {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.ion-badge-success {
  background-color: var(--ion-color-success);
}
.ion-badge-warring {
  background-color: var(--ion-color-warning);
}
.ion-badge-danger {
  background-color: var(--ion-color-danger);
}
