ion-content {
  --background: #fff
    url('https://images.unsplash.com/photo-1476718406336-bb5a9690ee2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80')
    no-repeat center center / cover;

  * {
    --background: rgba(255, 255, 255, 0);

    .traslucent-gray {
      --background: rgba(255, 255, 255, 0.215) !important;
      background: rgba(255, 255, 255, 0.215) !important;
      border-radius: 7px;
    }

    .logo-app {
      height: auto;
      width: 100%;
      border-color: rgba(0, 0, 0, 0.13);
      border-width: 2px;
      border-radius: 200px;
      border-style: solid;
      //   border-radius: 90;
      img {
        height: auto;
        width: 50vw;
      }
    }
  }
  .error-message {
    color: var(--ion-color-danger);
  }
}

//rgba(255, 255, 255, 0)
