.grid-container {
  background-color: rgba(0, 0, 0, 0.05);
  border-color: rgba(0, 0, 0, 0.13);
  border-width: 2px;
  border-radius: 6px;
  border-style: solid;

  .container-banner-promotion {
    background: transparent;
    height: 30vw;
    width: 100%;
    background-size: 100% auto;
    border-radius: 6px;
  }

  .container-profile-photo {
    border-color: rgba(0, 0, 0, 0.13);
    border-width: 2px;
    border-radius: 6px;
    border-style: solid;
    background-color: rgba(255, 255, 255, 0.575) !important;
    height: 100%;
  }
}
